*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, head{
    height:100%;
    width:100%;
}

.page1{
    height:100vh;
    width:100%;
    background-color: lightcoral;
}

.page2{
    height:100vh;
    width:100%;
    background-color: lightgreen;
}

.page3{
    height:100vh;
    width:100%;
    background-color: lightskyblue;
}